pycons3rt/*.pyc
pycons3rt/*.pyo
pycons3rt/MANIFEST
pycons3rt/bin/*.pyc
pycons3rt/bin/*.pyo
pycons3rt/bin/MANIFEST
pycons3rt/bin/build
pycons3rt/bin/py-pycons3rt*
pycons3rt/bin/venv
pycons3rt/build
pycons3rt/cfg/*.pyc
pycons3rt/cfg/*.pyo
pycons3rt/cfg/MANIFEST
pycons3rt/cfg/build
pycons3rt/cfg/py-pycons3rt*
pycons3rt/cfg/venv
pycons3rt/py-pycons3rt*
pycons3rt/pycons3rt/*.pyc
pycons3rt/pycons3rt/homer/*.pyc
pycons3rt/pycons3rt/*.pyo
pycons3rt/pycons3rt/MANIFEST
pycons3rt/pycons3rt/build
pycons3rt/pycons3rt/py-pycons3rt*
pycons3rt/pycons3rt/venv
pycons3rt/tests/*.pyc
pycons3rt/tests/*.pyo
pycons3rt/tests/MANIFEST
pycons3rt/tests/build
pycons3rt/tests/py-pycons3rt*
pycons3rt/tests/venv
pycons3rt/venv
.project
venv/
/.classpath
.idea/
build/